<div>
    <img src="./assets/pokemon.png" alt="" width="600px"/>
</div>

<mat-tab-group mat-align-tabs = "center" animationDuration = "1000ms">
    <mat-tab label="Colorless"> 
        <img src="https://images.pokemontcg.io/pop4/2.png"/> 
        <img src="https://images.pokemontcg.io/base3/4.png"/> 
        <img src="https://images.pokemontcg.io/dpp/DP06.png"/> 
    </mat-tab>
    <mat-tab label="Darkness"> 
        <img src="https://images.pokemontcg.io/xy11/11.png"/> 
        <img src="https://images.pokemontcg.io/ex3/1.png"/> 
        <img src="https://images.pokemontcg.io/ex4/2.png"/> 
    </mat-tab>
    <mat-tab label="Dragon"> 
        <img src="https://images.pokemontcg.io/dv1/6.png"/>
        <img src="https://images.pokemontcg.io/dv1/13.png"/> 
        <img src="https://images.pokemontcg.io/sm75/36.png"/>  
    </mat-tab>
    <mat-tab label="Fairy"> 
        <img src="https://images.pokemontcg.io/det1/14.png"/> 
        <img src="https://images.pokemontcg.io/sm115/39.png"/> 
        <img src="https://images.pokemontcg.io/xy2/62.png"/> 
    </mat-tab>
    <mat-tab label="Fighting"> 
        <img src="https://images.pokemontcg.io/pop6/2.png"/> 
        <img src="https://images.pokemontcg.io/base3/1.png"/> 
        <img src="https://images.pokemontcg.io/si1/3.png"/> 
    </mat-tab>
    <mat-tab label="Fire"> 
        <img src="https://images.pokemontcg.io/gym2/1.png"/> 
        <img src="https://images.pokemontcg.io/pop5/1.png"/> 
        <img src="https://images.pokemontcg.io/pop3/2.png"/> 
    </mat-tab>
    <mat-tab label="Grass"> 
        <img src="https://images.pokemontcg.io/xy5/1.png"/> 
        <img src="https://images.pokemontcg.io/xy2/1.png"/> 
        <img src="https://images.pokemontcg.io/xy2/1.png"/> 
    </mat-tab>
    <mat-tab label="Lightning"> 
        <img src="https://images.pokemontcg.io/ex7/2.png"/> 
        <img src="https://images.pokemontcg.io/ex11/3.png"/> 
        <img src="https://images.pokemontcg.io/ex7/4.png"/> 
    </mat-tab>
    <mat-tab label="Metal"> 
        <img src="https://images.pokemontcg.io/hgss4/1.png"/> 
        <img src="https://images.pokemontcg.io/ex11/2.png"/> 
        <img src="https://images.pokemontcg.io/ex13/1.png"/> 
    </mat-tab>
    <mat-tab label="Psychic"> 
        <img src="https://images.pokemontcg.io/base4/1.png"/> 
        <img src="https://images.pokemontcg.io/si1/1.png"/> 
        <img src="https://images.pokemontcg.io/pop5/2.png"/> 
    </mat-tab>
    <mat-tab label="Water"> 
        <img src="https://images.pokemontcg.io/ex7/1.png"/> 
        <img src="https://images.pokemontcg.io/dp3/2.png"/> 
        <img src="https://images.pokemontcg.io/hgss1/2.png"/> 
    </mat-tab>
</mat-tab-group>

<mat-accordion>
    <mat-expansion-panel class="haut" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Our Application
        </mat-panel-title>
        <mat-panel-description>
            What is the objective of our application?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>The focus of our application is based on the theme of pokemon. 
        This application works through an API that brings together 250 Pokémon cards and displays them. 
        The site will allow you to display cards according to the types of pokemon, as well as perform 
        research to find the desired pokemon. The pokemon cards being in English we decided to do the 
        entire site in English.</p>
        <p>We use the Pokemon TCG API, this API aims to provide us with a database of all pokemon cards. 
        It provides within these cards all the necessary characteristics such as the name of the pokemon, 
        its type or even its attacks. This API offers different functionalities. It allows us to get all cards, 
        get a specific card, get types and subtypes, and other useful features.</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="espace" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Site features
        </mat-panel-title>
        <mat-panel-description>
            Some features we used
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><strong>Bookstore : Angular Material</strong>Make the application more aesthetic and add components</p>
      <p><strong>Filtered</strong>Form to search for a pokemon by name and type</p>
    </mat-expansion-panel>
</mat-accordion>